{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Collage</title>
        <link rel="stylesheet" href="{% static 'css/view_collage.css' %}" />
    </head>
    <body>
        <h1>Image<span class="easter-egg"> Collage</span></h1>
        <!-- Check if collage_url exists and display the image; otherwise, show a placeholder or message -->
        {% if collage_url %}
        <img src="{{ collage_url }}" alt="Collage" />
        {% else %}
        <p>No collage available. Upload images to create one!</p>
        {% endif %}
        <h3>The World We've Made</h3>
        <div class="navigation-buttons">
            <a href="{% url 'index' %}" class="btn">Upload More Images</a>
            <a href="{% url 'hall' %}" class="btn">View Hall of Collages</a>
        </div>
    </body>
</html>
