{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Hall of Images</title>
        <link rel="stylesheet" href="{% static 'css/hall_of_fame.css' %}" />
    </head>
    <body>
        <header>
            <h1>Hall of Collages</h1>
        </header>
        <section class="gallery">
            <h2>Image Collage of Yesterdays</h2>
            <!-- Images go here -->
        </section>
        <footer>
            <p>Give me a hell yeah!</p>
        </footer>
    </body>
</html>
