{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mosaicsphere</title>
        <link rel="stylesheet" href="{% static 'app/css/main.css' %}?v=1.1" />
    </head>
    <body>
        <h1>A World We Create</h1>
        <div class="content">
            <a href="{% url 'index' %}">
                <img src="{% static 'app/images/Logo.jpg' %}" alt="Discover More" class="next-page-button" />
            </a>
        </div>
        <h6>All Rights Reserved</h6>
    </body>
</html>
